body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE4B5;
    color: #333;
    text-align: center;
}

.contenedor {
    max-width: 750px;
    margin: 0 auto;
    padding: 40px 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideUp 1s ease-out 0s both;
}

.subtitulo {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
    opacity: 0;
    animation: slideUp 1s ease-out 2s both;
}

.subtitulo strong {
    color: #FFA500;
    font-weight: bold;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
    opacity: 0;
    animation: fadeIn 1s ease-out 7s both;
}

.imagen {
    flex: 1;
    max-width: 240px;
    border-radius: 12px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.descripcion {
    font-size: 17px;
    line-height: 1.7;
    color: #444;
    margin-bottom: 35px;
    padding: 0 10px;
    opacity: 0;
    animation: slideUp 1s ease-out 8s both;
}

.descripcion strong {
    color: #FFA500;
    font-weight: bold;
}

.llamada {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 25px;
    opacity: 0;
    animation: slideUp 1s ease-out 9s both;
}

.boton {
    display: inline-block;
    background-color: #FFA500;
    color: #fff;
    padding: 14px 26px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1s ease-out 10s both;
}

.boton:hover {
    background-color: #FF8C00;
}
